extends html

snippet ee "" i
<%= $1 %>
endsnippet

snippet for
<%= for ${1:user} <- @${2:users} do %>
	$0
<% end %>
endsnippet

snippet if
<%= if ${1:statement} do %>
	<%# code... %>
<% end %>
endsnippet

snippet <% "" i
<% $0 %>
endsnippet

snippet lc
<%= live_component ${1:MyComponent} %>
endsnippet

snippet form
<.form let={f} for={@changeset}>
	$0
</.form>
endsnippet
