snippet ass
	assign(socket, ${1:key}: ${2:$1})

snippet mod
	defmodule ${1:MyModule} do
		@moduledoc false

		$0
	end

snippet def
	def ${1:my_function}(${2:args}) do
		$0
	end

snippet defp
	defp ${1:my_function}(${2:args}) do
		$0
	end

snippet fn
	fn (${1:args}) -> ${2:body} end

snippet case
	case ${1:target} do
		$0
		_ -> result
	end
