snippet ns
	namespace ${1:Namespace};

snippet class
	class ${1:ClassName}${2: extends ${3:BaseClass}}
	{
		${0://}
	}

snippet constr
	public function __construct($1)
	{
		${0://}
	}

snippet const
	public const ${1:CONSTANT_NAME} = ${2:"${3:value}"};

snippet fun
	${1:${public}${protected}} function ${2:functionName}($3): ${4:void}
	{
		${0:# code...}
	}

snippet e
	echo ${1:\$${2:this}};

snippet #c
	# ${1:code}...
